.circle1 {
    stroke-dasharray: 1194;
    stroke-dashoffset: 1194;
    animation: identifier 2s linear both;
}

.box {
    width: 200px;
    height: 200px;

    &:hover {
        width: 400px;
        height: 400px;
    }

    .tick {
        stroke-dasharray: 310;
        stroke-dashoffset: 310;
        animation: tick-animation 2s linear 1.9s both;
    }
}


@keyframes identifier {
    0% {
        stroke-dashoffset: 1194;
    }

    100% {
        stroke-dashoffset: 2388;
    }
}

@keyframes tick-animation {
    0% {
        stroke-dashoffset: 310;
    }

    100% {
        stroke-dashoffset: 0;
    }
}